.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.login-btn {
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 16px;
}